:host {
  height: 100%;
  display: block;
}

mat-toolbar h1 {
  text-transform: capitalize;
}

section {
  height: calc(100% - 64px);
  text-align: center;
}

section form {
  width: 50%;
}
